<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="../jquery/jquery-3.4.1.min.js"></script>
    <script src="../bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../mycss/mystyle.css">


    <script>
        $(document).ready(function () {
            $("#btn").click(function () {
                $(".li").each(function () {
                    alert($(this).text())
                });
            });
        });
    </script>

    <style>

    </style>
</head>

<body>
    <div class="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get gadsarouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="../image/jquery-logo.png" alt="Logo"
                            style="width:50px; height: 40px"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="../index.html">Home <span class="sr-only">(current)</span></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true"
                                aria-expanded="false">Devices <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true"
                                aria-expanded="false">EN <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    <div class="left">
        <h3>jQuery Effects</h3>
        <a href="hide_show.html">hide() and show()</a><br>
        <a href="fade.html">Fade</a><br>
        <a href="slide.html">Slide</a><br>
        <a href="animation.html">Animation</a><br>
        <a href="stop.html">stop()</a><br>
        <a href="callback.html">Callback()</a><br>
        <a href="chaining.html">Chaining</a><br>
    </div>
    <div class="content">



        <p style="font-size: 1.5em">
            The each() method specifies a function to run for each matched element.

            Tip: return false can be used to stop the loop early.
        </p>
        <br>
        <br>
        <h3>Syntax:</h3>
        <p>
            $(selector).each(function(index,element))
        </p>
        <h3>Example:</h3>
        <pre>
            script>
            $("button").click(function(){
                $("li").each(function(){
                  alert($(this).text())
                });
              });
            /script>
        </pre>

        <button id="btn">Alert the value of each list item</button>

        <ul>
            <li class="li">Coffee</li>
            <li class="li">Milk</li>
            <li class="li">Soda</li>
        </ul>
        <br>
        <br>
        <span>See more at W3school</span>

        <div class="footer">
            @Trung.doan-codegymDaNang
        </div>

</body>

</html>